# General use .gitignore for Minecraft modding.

# Directories
/.gradle/
/build/
/eclipse
/run/
/out/
/bin/
/build/
/.idea/
/.metadata/
/libs/
/classes/

# File Extensions
*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project

# Specific Files
Thumbs.db